.account {
  display: flex;
  flex-direction: column;
  font-family: "BenchNine";
  background-color: #31121f;
}
.acct-info {
  justify-content: right;
  margin-top: 5vh;
  margin-bottom: 10vh;
  font-size: 35px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
}
.acct-info p {
  padding-left: 5vw;
}
.acct-info h2 {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  text-align: left;
  margin-left: 25px;
  text-decoration: underline 1px pink;
  text-underline-offset: 12px;
  font-family: "BenchNine";
}
.welcome {
  font-size: 70px;
  text-decoration: underline 1px pink;
  text-underline-offset: 12px;
  font-family: "BenchNine";
}
.user-wyr {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.user-wyr h2 {
  font-size: 50px;
  text-decoration: underline pink;
  margin-left: 20px;
}
.one-wyr {
  border: 2px solid white;
  margin: 40px;
  height: 20vh;
  width: fit-content;
  min-width: 20vh;
  padding: 20px;
  font-size: 30px;
}
.one-wyr h4 {
  font-size: 40px;
}

.round {
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  border: 5px solid pink;
  background-position: center;
  background-size: cover;
  margin-bottom: 2vh;
}
.one-comment {
  display: flex;
}
.comment {
  background-color: #b22d84;
  border-radius: 20px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
.comments {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  font-size: 35px;
  margin-top: 50px;
  border: 2px solid #b22d84;
  box-shadow: 0px 0px 20px #b22d84;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
  width: fit-content;
  min-width: 20vh;
  margin-bottom: 40px;
}
.delete-wyr {
  border: none;
  background-color: transparent;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.material-icons {
  color: white;
  font-size: 24px;
}
.edit-user {
  margin-left: 20px;
}
.edit-user:hover {
  color: #b22d84;
}
.material-icons:hover {
  color: #b22d84;
}
.delete-wyr:hover {
  box-shadow: 0px 0px 10px #b22d84;
}

@media only screen and (max-width: 400px) {
  .account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .acct-info {
    margin-top: 2vh;
    margin-bottom: 0vh;
    font-size: 30px;
    text-align: left;
    width: 100vw;
  }
  .acct-info p {
    padding-left: 5vw;
    font-size: 20px;
  }
  .acct-info h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 5vw;
    text-underline-offset: 5px;
  }
  .welcome {
    font-size: 30px;
    margin-left: -25vh;
    text-underline-offset: 12px;
  }
  .user-wyr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .user-wyr h2 {
    font-size: 30px;
    text-decoration: underline pink;
    margin-left: 0vw;
    margin-bottom: -5px;
  }
  .one-wyr {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 20px;
    height: 25vh;
    width: 30vh;
    padding: 20px;
    margin-left: 15vw;
    font-size: 18px;
  }
  .one-wyr h4 {
    font-size: 20px;
  }

  .round {
    height: 18vh;
    width: 18vh;
    margin-left: 8vw;
    margin-top: -60px;
    border-radius: 100%;
    border: 2px solid pink;
    background-position: center;
    background-size: cover;
    margin-bottom: 2vh;
  }

  .comments {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0vh;
    margin-bottom: 15px;
    height: 25vh;
    width: 44vh;
  }
  .delete-wyr {
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .edit-user {
    font-size: 20px;
    margin-left: 20px;
  }
}
