.questions-div {
  background-color: #31121f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.likes {
  display: none;
  background-image: url("../assets/heart.png");
  background-position: center;
  background-size: cover;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 10px;
  margin: 5px;
}

.questions-move {
  display: grid;
  grid-template-columns: repeat(4) 1fr;
  grid-template-rows: 1fr;
  height: 60vh;
  width: 90vw;
  align-self: center;
  margin-left: 5vw;
}
.questions-move h3 {
  padding: 10px;
  padding-top: 20px;
  font-size: 33px;
  font-family: "BenchNine";
}
.choice1 {
  background-color: violet;
  grid-column: 2;
  align-self: end;
}
.choice2 {
  grid-column: 3;
  background-color: #b22d84;
  align-self: end;
}
.choice1,
.choice2 {
  display: inline-block;
  margin: 20px;
  min-height: 20vh;
  min-width: 55vh;
  width: fit-content;
  height: fit-content;
  border: none;
  box-shadow: 0px 0px 15px rgb(5, 5, 5);
  font-size: 25px;
  transition: height 1s;
  transition-timing-function: ease-in;
  white-space: pre-wrap;
  word-wrap: normal;
}
.choice1:hover,
.choice2:hover {
  transition: color 0.5s;
  box-shadow: 0px 0px 10px white;
  color: rgba(255, 255, 255, 0.747);
}
.choice1::before,
.choice2::before{
transition-timing-function: ease-in;
transition: height 1s;
}
.debate {
  font-size: 25px;
  border-radius: 45px;
  padding: 15px;
  margin: 25px;
  border: none;
}
.question-description h3 {
  font-size: 40px;
  font-family: "BenchNine";
}
.question-description {
  z-index: 2;
  font-size: 60px;
  font-family: "BenchNine";
}
.debate:hover {
  color: #b22d84;
  box-shadow: 0px 0px 10px #b22d84;
}

/* laptop view */
@media only screen and (max-width: 1500px) {
  .choice1,
  .choice2 {
    width: 45vh;
  }
}
@media only screen and (max-width: 800px) {
  .questions-move {
    display: grid;
    grid-template-columns: repeat(4) 1fr;
    grid-template-rows: 1fr;
    height: 40vh;
    width: 75vw;
    align-self: center;
    margin-left: 10vw;
  }
  .choice1,
  .choice2 {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    min-height: 2vh;
    max-height: 30vh;
    min-width: 15vh;
    width: fit-content;
    height: 15vh;
    justify-self: center;
  }
  .choice1 {
    grid-column: 2;
   justify-self: center;
    grid-column-end: 3;
  }
  .question-description h3 {
    z-index: 2;
    font-size: 30px;
    margin-top: 2vh;
  }
  .debate {
    font-size: 25px;
    border-radius: 45px;
    padding: 15px;
    margin: 10px;
  }
}

/* iphone X */
@media only screen and (max-width: 400px) {
  .questions-move {
    height: 30vh;
    width: 80vw;
    align-self: center;
    margin-left: 10vw;
  }
  .choice1,
  .choice2 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    min-height: 2vh;
    max-height: 30vh;
    width: 12vw;
    min-width: 15vh;
    height: 15vh;

    padding: 5px;
    align-self: end;
  }
  .choice1 {
    grid-column: 2;
    grid-column-end: 3;
  }
  .question-description h3 {
    z-index: 2;
    font-size: 30px;
    margin-top: 2vh;
  }
  .debate {
    font-size: 15px;
    padding: 15px;
    margin: 10px;
  }
}
