.questions-div {
  background-color: #31121f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.likes {
  display: none;
  background-image: url("../assets/heart.png");
  background-position: center;
  background-size: cover;
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 10px;
  margin: 5px;
}

.question-card {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 15px;
  padding-top: 20vh;
}
.question-card h3 {
  padding-top: 20px;
  font-size: 33px;
}

.choice1,
.choice2 {
  margin: 20px;
  height: 20vh;
  width: 50vh;
  border: none;
  box-shadow: 0px 0px 15px rgb(5, 5, 5);
  bottom: 0;
  font-size: 50px;
  transition: height 0.5s;
  bottom: 40vh;
  position: absolute;
}
.choice1 {
  left: 20vw;
  background-color: violet;
}
.choice2 {
  background-color: #b22d84;
}
.choice1:hover,
.choice2:hover {
  box-shadow: 0px 0px 10px white;
}
.debate {
  font-size: 30px;
  border-radius: 45px;
  padding: 15px;
  margin: 25px;
}
.question-card h3 {
  font-size: 50px;
}
.question-description {
  position: absolute;
  bottom: 20vh;
  right: 25vw;
  font-size: 30px;
}
