.layout {
  background-color: #31121f;
  height: 100vh;
  width: 100%;
  color: white;
}
.layout header {
  display: flex;
  align-items: center;
  font-family: "Gurajada";
}
header .header-layout {
  display: flex;
  width: 100vw;
  border: 2px solid black;
}
.logo-title {
  color: white;
  margin-right: 18vw;
  margin-left: 30px;
  font-size: 80px;
  text-decoration: none;
  font-family: "Gurajada";
}
.logo-title:hover {
  transition: color 0.5s;
  color: #b22d84;
}

a.title-link:visited {
  color: white;
}

.logout {
  justify-content: right;
  margin-right: 15px;
}
.links {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 40vw;
  font-size: 40px;
  text-align: right;
}
.links a,
.links p {
  margin: 10px;
  justify-content: center;
}
.links p {
  color: pink;
}
.login {
  margin-left: 70vw;
  font-size: 30px;
}
.login:hover {
  color: white;
}
.links a:hover {
  color: pink;
}
.logout {
  border: none;
  color: white;
  background-color: #31121f;
  margin-top: 10px;
}
.logout:hover {
  background-color: pink;
}
.children {
  background-color: #31121f;
}
@media only screen and (max-width: 400px) {
  .layout {
    width: 100vw;
    height: 100vh;
    background-color: #31121f;
  }
  .header-layout {
    flex-direction: column;
  }
  .children {
    display: flex;
    flex-direction: column;
  }
  .links {
    font-size: 25px;
    margin: 5px;
  }
  .links a,
  .links p {
    margin: 5px;
    text-align: left;
  }
  .hello {
    text-align: left;
    margin-left: 0px;
  }
  .logo-title {
    color: white;
    margin-right: 0vw;
    margin-left: 5px;
    font-size: 60px;
  }
  .logout {
    border: none;
    color: white;
    background-color: #31121f;
    font-size: 25px;
    height: 32px;
    margin-top: 4px;
  }
  .login {
    margin-left: 0vw;
    font-size: 25px;
  }
}
