.login-form {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  justify-content: start;
  margin-top: 15vh;
  background-color: #fff1fdb2;
  border-radius: 35px;
  min-width: 80vh;
  width: fit-content;
  min-height: 40vh;
  height: fit-content;
  box-shadow: 0px 0px 20px #bbb1b8b2;
}

.login-input {
  height: 45px;
  min-width: 15vw;
  width: fit-content;
  border-radius: 20px;
  font-family: "Gurajada";
  padding: 20px;
  font-size: 35px;
  color: black;
}

.login-label {
  font-size: 50px;
  font-family: "Gurajada";
  padding-right: 15px;
}
.submit-btn {
  border: none;
  background-color: #b22d84;
  min-width: 8vw;
  width: fit-content;
  font-size: 30px;
  border-radius: 20px;
  margin-left: 19vw;
  color: black;
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.274);
  font-family: "Gurajada";
}
.submit-btn:hover {
  color: white;
}
.login-form-title {
  margin-top: 20px;
  margin-bottom: 3vh;
  font-size: 80px;
  color: #b22d84;
  font-family: "Gurajada";
}
.or-join {
  font-size: 35px;
  font-family: "Gurajada";
}
.or-join:hover {
  color: #b22d84;
}

@media only screen and (max-width: 800px) {
  .login-form {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    justify-content: start;
    margin-top: 8vh;
    width: fit-content;
    min-width: 70vw;
    height: fit-content;
  }
  .or-join {
    align-self: center;
  }
  .submit-btn {
    font-size: 40px;
    border-radius: 30px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
  }
  .login-input {
    height: 45px;
    min-width: 30vw;
  }
  .or-join {
    margin-top: -20px;
    font-size: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .login-form {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    justify-content: start;
    margin-top: 10vh;
    border-radius: 35px;
    width: 40vh;
    height: 50vh;
  }

  .login-input {
    height: 20px;
    min-width: 35vw;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
  }

  .login-label {
    font-size: 35px;
    padding-right: 15px;
  }
  .submit-btn {
    min-width: 18vw;
    width: fit-content;
    font-size: 25px;
    padding: 2px;
    border-radius: 20px;
  }
  .login-form-title {
    margin-top: 20px;
    margin-bottom: 1vh;
    font-size: 60px;
  }
  .or-join {
    font-size: 25px;
  }
}
