.question-div-detail {
  display: flex;
  flex-direction: column;
}
.question-card-detail {
  display: grid;
  grid-template-columns: 200px 30vw 10vw 30vw 200px;
  grid-template-rows: repeat(2) 1fr;
  margin-top: 50px;
  align-self: center;
}
.comment-title-details {
  font-size: 60px;
  font-weight: bold;
  font-family: "Gurajada";
}
.comment-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: fit-content;
  width: 60vw;
  height: 40vh;
  padding: 10px;
  font-family: "Benchnine";
  font-size: 30px;
  background-color: white;
  color: black;
  justify-content: flex-end;
}
.choice1-detail,
.choice2-detail {
  margin: 20px;
  min-height: 20vh;
  min-width: 50vh;
  width: fit-content;
  height: fit-content;
  border: none;
  box-shadow: 0px 0px 15px rgb(5, 5, 5);
  font-size: 40px;
  transition: height 0.5s;
  font-family: "Gurajada";
}
.choice1-detail {
  background-color: violet;
  grid-column: 2;
  align-self: end;
}

.choice2-detail {
  grid-column: 4;
  background-color: #b22d84;
  align-self: end;
}
.q-detail-descript {
  font-size: 50px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
  font-family: "Gurajada";
}

.choice1-detail:hover,
.choice2-detail:hover {
  transition: color 0.5s;
  box-shadow: 0px 0px 10px white;
  color: rgba(255, 255, 255, 0.747);
}
.comments-detail {
  align-self: left;
  margin: 15px;
  display: flex;
  border: 2px solid black;
  border-radius: 25px;
  min-width: fit-content;
  width: 20vw;
  padding: 2px;
}
.username-detail {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.details-back-link {
  border: none;
  color: #b22d84;
  font-family: "Gurajada";
  align-self: flex-start;
}
.details-back-link .material-icons.md-48 {
  font-size: 90px;
}
.all-comments {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.comment-create-form {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
}
.comment-create {
  font-size: 25px;
  border: 1px solid black;
  width: 52vw;
  padding-left: 15px;
}
.send {
  border: none;
  background-color: transparent;
  background: none;
  margin: 10px;
}
.material-icons.md-48 {
  font-family: "Material Icons";
  color: black;
  font-size: 48px;
  align-self: center;
}
.you-comments-detail {
  margin: 15px;
  display: flex;
  border: 2px solid black;
  border-radius: 25px;
  min-width: fit-content;
  width: 20vw;
  padding: 2px;
  align-self: flex-end;
}
.you-username-detail {
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  align-self: right;
}

@media only screen and (max-width: 1030px) {
  .choice1-detail,
  .choice2-detail {
    margin: 20px;
    height: 10vh;
    min-width: 20vh;
    width: fit-content;
    border: none;
    box-shadow: 0px 0px 15px rgb(5, 5, 5);
    transition: height 0.5s;
    font-size: 30px;
  }
  .comment-title-details {
    font-size: 50px;
  }
  .comment-section {
    width: 80vw;
  }

  .q-detail-descript {
    font-size: 50px;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .details-back-link .material-icons.md-48 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 400px) {
  .question-card-detail {
    grid-template-columns: 10px 40vw 5vw 40vw 10px;
    margin-top: 50px;
  }
  .choice1-detail,
  .choice2-detail {
    margin: 10px;
    height: 10vh;
    min-width: 15vh;
    font-size: 25px;
  }
  .comment-title-details {
    font-size: 30px;
  }
  .comment-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: fit-content;
    width: 80vw;
    height: 30vh;
    padding: 10px;
    font-family: "Benchnine";
    font-size: 30px;
    overflow: scroll;
    background-color: white;
    color: black;
  }

  .q-detail-descript {
    font-size: 30px;
  }

  .details-back-link .material-icons.md-48 {
    font-size: 50px;
  }

  .comment-create {
    font-size: 20px;
  }

  .material-icons.md-48 {
    font-size: 32px;
  }
  .comments-detail {
    margin: 10px;
    width: 20vw;
    padding-right: 10px;
  }
  .you-comments-detail {
    margin: 10px;
    display: flex;
    padding-right: 5px;
    padding-top: 10px;
  }
}
