.App {
  text-align: center;
}
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
  border-bottom: violet;
}
@import url("https://fonts.googleapis.com/css2?family=BenchNine&family=Gurajada&family=Montserrat+Subrayada&display=swap");
