.App {
  text-align: center;
}
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
  border-bottom: violet;
}
@import url("https://fonts.googleapis.com/css2?family=Gurajada&family=Merienda&family=Montserrat+Subrayada&family=Nanum+Pen+Script&display=swap");
